@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: url('../fonts/PlayfairDisplaySC-Black.ttf') format('truetype');
}
